@import "./reset.css";

/* Variables */
:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;

  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;

  --green-100: #dcfce7;
  --green-600: #16a34a;

  --blue-400: #60a5fa;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;

  --red-200: #fecaca;
  --red-400: #f87171;
  --red-600: #dc2626;

  --box-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

/* Overrides */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--zinc-900);
  font-family: "Roboto", sans-serif;
}

/* Links */
a {
  text-decoration: none;
}

/* Application */
.container {
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Buttons */
.btn_primary {
  border: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow-sm);
  padding: 8px 12px;
  cursor: pointer;
  background-color: var(--blue-600);
  color: white;
  font-size: 1rem;
  transition: background-color 100ms ease-in;
}

.btn_danger {
  border: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow-sm);
  padding: 8px 12px;
  cursor: pointer;
  background-color: var(--red-400);
  color: white;
  font-size: 1rem;
  transition: background-color 100ms ease-in;
}

/* Icons */
.icon-sm {
  height: 0.75rem;
  width: 0.75rem;
}

.icon-md {
  height: 1rem;
  width: 1rem;
}

.icon-lg {
  height: 1.25rem;
  width: 1.25rem;
}

.icon-xl {
  height: 1.5rem;
  width: 1.5rem;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  margin-bottom: 12px;
}

form input {
  margin-bottom: 12px;
}

.add_task_action_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;
}

.add_task_action_container a {
  border: none;
  padding: 4px 8px;
  margin: 0;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  width: 100%;
}

.account {
  border-radius: 4px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background-color: var(--zinc-800);
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 900;
}

/* Tasks */
.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0;
  width: 100%;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.header {
  font-size: 1.75rem;
  font-weight: 700;
}

.section_container {
  margin-bottom: 24px;
  width: 100%;
}

.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section_label {
  font-weight: 600;
  margin-bottom: 12px;
}

.subheader {
  margin-bottom: 24px;
  padding: 12px 0;
}

.status {
  padding: 8px 12px;
  border-radius: 4px;
}

.completed {
  background-color: var(--green-100);
  color: var(--green-600);
}

.inprogress {
  background-color: var(--yellow-100);
  color: var(--yellow-600);
}

.input {
  border: var(--zinc-400) 1px solid;
  border-radius: 4px;
  padding: 8px;
}

.action_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.btn {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--zinc-400);
  color: white;
  text-decoration: none;
  margin-right: 4px;
}

.task-card {
  border: var(--zinc-200) solid 1px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-sm);
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
}

.task-card:hover {
  background-color: var(--zinc-50);
}
