/* Variables */
:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;

  --box-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

/* Custom */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--zinc-900);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Tasks */
.add-task-btn {
  background-color: #4f46e5;
  border: #4f46e5 solid 1px;
  border-radius: 4px;
  color: white;
  padding: 8px;
  width: 100%;
  text-decoration: none;
}

.task-card {
  border: var(--zinc-200) solid 1px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-sm);
  margin: 8px 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.task-card:hover {
  background-color: var(--zinc-50);
  transform: scale(1.05);
  transition: all 300ms;
}
