<h1>Tasks</h1>

<%= for task <- @tasks do %>
    <div class="task-card">
        <span><%= task.description %></span>
        <div>
            <%= link "Delete", to: Routes.task_path(@conn, :delete, task.id), method: :delete, data: [confirm: "Are you sure?"] %> |
            <%= link "Edit", to: Routes.task_path(@conn, :edit, task.id) %>
        </div>
    </div>
<% end %>

<%= link "Add Task", to: Routes.task_path(@conn, :new), class: "add-task-btn" %>