<div class="container">

<h1>Tasks</h1>

<%= for task <- @tasks do %>
    <%= link task.description, to: Routes.task_path(@conn, :show, task.id), class: "task-card" %>
<% end %>

<%= link "Add Task", to: Routes.task_path(@conn, :new), class: "add-task-btn" %>
</div>
