<div class="container">
    <div class="navbar">
        <%= link "t", to: Routes.task_path(@conn, :index), class: "account" %>  

        <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete %>  
    </div>
      
</div>