<div class="container">
    <div class="navbar">
        <div class="account">
            <%= String.first(@current_user.email) %>
        </div>

        <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete %>  
    </div>
      
</div>